:root {
    --background-color: ghostwhite;
    --typewritterSpeed: 3s;
    --typewriterCharacters: 12;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: var(--background-color);
}

h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background-color: var(--background-color);
    animation: typewriter var(--typewritterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewritterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(12) infinite;
}

.subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewritterSpeed) + 2s) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
    }
}